<div class="story-body-bam">
  <p>After the earthquake, Bam was destroyed: "Literally a rubble pile" said a U.S. relief coordinator, Bill Garvelink. With its infrastructure demolished, telephone and radio communications were cut off, and the power grid was severely damaged. Telecom providers confirmed that international calls were impossible.</p>
  <p>&nbsp;</p>
  <p>Many international aid organizations flew in to offer help, such as the Red Cros, U.N. relief programs and Télécoms Sans Frontières.</p>
  <p>&nbsp;</p>
  <p>TFS is an emergency technology NGO. Together with the U.N., it deployed an emergency telecom centre that was funded by the European Commission.</p>
  <!-- If you use images, the path is just images/___ -->
  <div class='bam_wrapper'>
    <div class='bam'>
      <div class='before'>
        <h4>Bam before</h4>
        <img src="images/citidel_1.png">
      </div>
      <div class='after'>
        <h4>Bam after</h4>
        <img src="images/citidel_2.png">
      </div>
    </div>
    <p class='source2'>Source: "Performance of the Earthen Arg-e-Bam (Bam Citadel) during the 2003 Bam, Iran, Earthquake", University of California, Berkley</p>
  </div>
  
  <p>Simon Angus, a professor at Monash University in Australia who monitors internent freedom, speculated that data servers or some type of independent system may be located in or near Bam as a result of communications investment following the 2003 earthquake.</p>
</div>

