<div class="story-body tall">
  <p>Iran's internet freedom is on life support, and the country has been building up to a government-controlled web for years.</p>
  <p>Similar to other regimes around the world, such as those in China and Russia, Iran has been centralizing network control since the turn of the millennium. The country announced its idea for a national internet in 2005, and since then it's been building new infrastructure, retrofitting the old, and heavily penalizing state internet service providers who step out of line.</p>
  <p>The rising price of oil lead to the latest crackdown in November after mass protests broke out in Tehran and other cities around the country. To squash the ballooning unrest, the Iranian government totally shut off citizen's access to the internet.</p>
  <p class='last'>This crackdown marks the most wide-scale internet shutdown in the world. However, while the vast majority of Iranians couldn't get a signal, one city lit up in the dark.</p>
  <!-- If you use images, the path is just images/___ -->
  {{!-- <div class="iranGif">
    <h3>The moment the internet went out</h3>
    <p style="text-align: center"><img src="images/iran_test.gif"></p>
  </div> --}}
  {{!-- <p class='last'>Phasellus lacus lectus, semper ut mollis vitae, fermentum ac massa. Duis pulvinar, lorem non interdum bibendum, sapien tellus volutpat massa, mollis sodales lectus ligula eget ex. Donec hendrerit imperdiet commodo. Fusce ut leo sed purus posuere tempor ut bibendum lectus. Aenean sem purus, euismod ut fringilla ultricies, convallis a nulla.</p> --}}
</div>