<div class="story-body med">
    <h2>About three quarters of Iranians use the internet</h2>
    <p>With 76% of the country's 81.16 million people online, internet censorship efforts have huge scope</p>
    <div id="chart-02"></div>

    <script src="scripts/chart-03.js"></script>
    <p class='source3'>Internet World Stats by Miniwatts Marketing Group</p>
</div>
