<div class="story-body">
  <!-- If you use images, the path is just images/___ -->
  <div class="iranGif">
    {{!-- <p style="text-align: center"><img src="images/iran_fiber-01.png"></p> --}}
    <p class='source2'>Source: Iran Ministry of ICT</p>
  </div>
  <h3>Centralising power</h3>
  <p>Whatever the case in Bam, the rest of Iran was not so lucky. This is not the first time that the government has blocked online access to stop information from spreading. When there were mass protests in Iran in December 2017 and January 2018 following the elections, the government watched how stifling people's ability to communicate could also effectively stifle protests. In the past, Iran has also experimented with  bandwidth throttling, or blocking individual websites and apps, such as Facebook Instagram and Telegraph.</p>
  <p>Part of the reason Iran can even shut off the internet is because of its intranet, the National Information Network (NIN). With over $6 billion invested, the NIN is the most costly national telecommunications project in the history of the Islamic Republic.
  </p>
  <p>The national network means that even if Iran turns the internet off, it can still offer network access to essential services, such as banks, government offices and the like. The national plan has meant the rapid expansion of the country's fiber optic network. While Iran's fibre optic network looks similar to other country's, the government either wholly controls parts or has the ability to order telecoms, including ISPs and mobile data providers, to cut access.</p>
</div>