<div class="header">
    <div class='footage'>
        <video src="images/Iran_1.mp4" poster="" muted="" autoplay="" loop="" playsinline=""></video>
    </div>
    <div class='headlines'>
        <h1>Iran's internet kill switch</h1>
        <h2>After years of centralizing control, Iran shut off the internet for almost all of its citizens.</h2>
        <div class='arrow'>
            &nbsp;
            <div class="scroll-down"></div>
        </div>
    </div>  
</div>
<p class='source'> Unrest in the Iranian city of Shiraz in November shared on social media, credit: @Iran_HRM.</p>
